@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1>@ViewData["Title"]</h1>

<h5>Begonya Sokak No:8</h5>
<h5>Konak İZMİR</h5>
<h5>Bize Ulaşın: <a href="example@gmail.com">E-posta Gönder</a></h5>


